<style>
  .ivizone-terms {
    overflow: scroll;
    font-size: 10px;
    text-align: left;
  }
</style>

<div class="ivizone-terms">
  <p>
    Les pr&#233;sentes conditions g&#233;n&#233;rales d'utilisation
    (ci-apr&#232;s les &#171; <strong>Conditions G&#233;n&#233;rales</strong>
    &#187;) r&#233;gissent l'acc&#232;s &#224; et l'utilisation du r&#233;seau
    WIFI-CMDS-PUBLIC (ci-apr&#232;s le &#171; <strong>Wi-Fi</strong> &#187;) du
    Cr&#233;dit Agricole Charente Maritime Deux S&#232;vres (ci-apr&#232;s l'
    &#171; <strong>Enseigne</strong> &#187;), au sein de ses points de vente
    physiques participants, par ses visiteurs et clients (ci-apr&#232;s
    ensemble, les &#171; <strong>Utilisateurs</strong> &#187;). En se
    connectant au Wi-Fi l'Utilisateur accepte express&#233;ment les
    pr&#233;sentes Conditions G&#233;n&#233;rales en ce compris l'ensemble des
    engagements et responsabilit&#233;s en d&#233;coulant.
    <strong>
      Si l'Utilisateur n'accepte par les Conditions G&#233;n&#233;rales, il
      ne doit pas utiliser le Wi-Fi
    </strong>
    . Les pr&#233;sentes Conditions G&#233;n&#233;rales peuvent &#234;tre
    modifi&#233;es &#224; tout moment par l'Enseigne. Dans ce cas, l'acc&#232;s
    au Wi-Fi et son utilisation apr&#232;s la date de modification impliquera
    l'acceptation expresse, pleine et enti&#232;re par l'Utilisateur des
    Conditions G&#233;n&#233;rales telles que modifi&#233;es.
    <br/>
    <br/>
    <strong>Chapitre 1 : Conditions d'acc&#232;s au Wi-Fi</strong>
    <br/>
    <br/>
    L'Enseigne propose, gratuitement, &#224; ses Utilisateurs de se connecter
    et d'utiliser le Wi-Fi de ses points de vente physiques participants,
    pendant les horaires d'ouverture desdits points de vente, et selon les
    conditions techniques d&#233;finies par l'Enseigne. Il est
    pr&#233;cis&#233; que le Wi-Fi est fourni par un fournisseur d'acc&#232;s
    tiers et que l'Enseigne se r&#233;serve le droit de changer &#224; tout
    moment de fournisseur d'acc&#232;s &#224; internet.
    <br/>
    <br/>
    Afin de pouvoir utiliser le Wi-Fi, l'Utilisateur doit (i) disposer d'un
    terminal (ordinateur, smartphone, tablette etc.) lui permettant de se
    connecter au r&#233;seau Internet (le &#171; Terminal &#187;) et (ii)
    s'enregistrer sur la page d'accueil Wi-Fi de l'Enseigne en renseignant ses
    nom, pr&#233;nom, adresse mail et num&#233;ro de t&#233;l&#233;phone ou en
    s'inscrivant via son compte Facebook. L'Utilisateur garantit que les
    informations fournies lors de son enregistrement sont exactes et &#224;
    jour.
    <br/>
    <br/>
    Il est pr&#233;cis&#233; que l'utilisation du Wi-Fi par les mineurs
    s'effectue sous la seule responsabilit&#233; de leurs parents ou
    repr&#233;sentants l&#233;gaux, sans que la responsabilit&#233; de
    l'Enseigne ne puisse &#234;tre en aucun cas recherch&#233;e concernant
    cette utilisation. L'Enseigne met par ailleurs en garde l'Utilisateur sur
    la nature et la diversit&#233; des contenus disponibles sur le r&#233;seau
    Internet, lesquels peuvent &#234;tre inadapt&#233;s au jeune public.
    <br/>
    <br/>
    <strong>Chapitre 2 : Modalit&#233;s de fourniture du Wi-Fi</strong>
    <br/>
    <br/>
    L'Enseigne prendra des mesures raisonnables afin que le Wi-Fi soit
    accessible pendant les horaires d'ouverture des points de vente physiques
    participants. Toutefois, l'Enseigne ne prend aucun engagement quant &#224;
    (i) la disponibilit&#233; et l'accessibilit&#233; permanentes du Wi-Fi,
    (ii) la qualit&#233;, la vitesse ou le volume de transmission des
    donn&#233;es ou (iii) l'absence d'interf&#233;rence et d'anomalies dans la
    transmission des donn&#233;es. Il est notamment pr&#233;cis&#233; que le
    r&#233;seau Internet et les syst&#232;mes informatiques et de
    t&#233;l&#233;communication ne sont pas exempts d'erreurs et que des
    interruptions et des dysfonctionnements sont susceptibles de survenir.
    L'Enseigne ne fournit aucune garantie &#224; cet &#233;gard et ne saurait
    &#234;tre tenu responsable de tout dommage r&#233;sultant de l'utilisation
    du r&#233;seau Internet et des syst&#232;mes informatiques et de
    t&#233;l&#233;communication.
    <br/>
    <br/>
    L'Enseigne se r&#233;serve le droit d'interrompre, temporairement ou
    d&#233;finitivement, l'acc&#232;s au Wi-Fi, sans engager sa
    responsabilit&#233; de quelque mani&#232;re que ce soit, notamment si cela
    est n&#233;cessaire pour des besoins de maintenance technique ou pour
    remplir ses obligations l&#233;gales.
    <br/>
    <br/>
    L'Enseigne se r&#233;serve &#233;galement le droit de suspendre,
    temporairement ou d&#233;finitivement, sans engager sa responsabilit&#233;
    de quelque mani&#232;re que ce soit, l'acc&#232;s au Wi-Fi par un
    Utilisateur en particulier, si ledit Utilisateur ne respecte pas ou si
    l'Enseigne a des raisons de croire que l'Utilisateur ne respecte pas les
    dispositions des pr&#233;sentes Conditions G&#233;n&#233;rales.
    <br/>
    <br/>
    Enfin il est pr&#233;cis&#233; qu'afin de remplir ses obligations
    l&#233;gales, l'Enseigne pourra bloquer l'acc&#232;s &#224; certains sites
    et contenus, notamment (i) les sites diffusant des images p&#233;dophiles
    (ii) les sites faisant l'apologie des crimes contre l'humanit&#233;, des
    crimes et d&#233;lits ou incitant &#224; la haine raciale ainsi que (ii)
    les sites de partage de fichiers, de t&#233;l&#233;chargement ill&#233;gal
    et de mani&#232;re g&#233;n&#233;rale tout site permettant de porter
    atteinte &#224; des &#339;uvres ou objets prot&#233;g&#233;s par un droit
    d'auteur ou par un droit voisin.
    <br/>
    <br/>
    <strong>Chapitre 3 : Modalit&#233;s d'utilisation du Wi-Fi</strong>
    <br/>
    <br/>
    L'Utilisateur est seul responsable et assume les risques inh&#233;rents
    &#224; l'utilisation du Wi-Fi. L'Utilisateur est ainsi seul responsable et
    d&#233;dommagera l'Enseigne pour tout pr&#233;judice direct ou indirect
    caus&#233; &#224; l'Enseigne et/ou &#224; tout tiers du fait de son
    utilisation du Wi-Fi. Il est pr&#233;cis&#233; que tout acc&#232;s au Wi-Fi
    effectu&#233; &#224; partir du Terminal de l'Utilisateur sera
    r&#233;put&#233; effectu&#233; par lui et qu'il en sera donc responsable.
    <br/>
    <br/>
    L'Utilisateur s'engage &#224; utiliser le Wi-Fi uniquement pour son
    utilisation personnelle (et non &#224; des fins commerciales), de
    mani&#232;re appropri&#233;e et dans le respect de toutes les lois et
    r&#233;glementations applicables.
    <br/>
    <br/>
    L'Utilisateur s'interdit toute utilisation frauduleuse, abusive ou
    excessive du Wi-Fi, telle que notamment, sans que cette liste ne soit
    limitative, le t&#233;l&#233;chargement d'une quantit&#233; de donn&#233;es
    abusive ou inhabituelle, l'encombrement volontaire ou involontaire du
    r&#233;seau ou de serveurs de messageries par du publipostage sauvage
    (spamming, bulk e-mail, junk e-mail ou mail bombing), ou l'envoi de
    messages attractifs g&#233;n&#233;rant n&#233;cessairement un nombre
    imposant de r&#233;ponses (teasing ou trolling) pouvant ainsi perturber la
    disponibilit&#233; du Wi-Fi et assume l'enti&#232;re responsabilit&#233;
    d'une telle utilisation du Wi-Fi.
    <br/>
    <br/>
    L'Utilisateur s'engage &#233;galement &#224; ne pas utiliser le Wi-Fi en
    vue de commettre des agissements ill&#233;gaux, d&#233;lictueux ou
    inappropri&#233;s, &#224; savoir :
    <br/>
    transmettre ou acc&#233;der via le Wi-Fi &#224; tout contenu
    inappropri&#233;, illicite, ill&#233;gal, contraire aux bonnes m&#339;urs
    ou &#224; l'ordre public. En particulier l'Utilisateur s'interdit de se
    connecter &#224; des sites contenant des images &#224; caract&#232;re
    pornographique, racistes, incitant &#224; la haine, &#224; la violence ou
    faisant l'apologie de crimes contre l'humanit&#233;.
    <br/>
    Transmettre ou acc&#233;der, via le Wi-Fi, &#224; tout contenu portant
    atteinte ou susceptible de porter atteinte aux droits de tiers. En
    particulier l'Utilisateur s'engage &#224; ne pas violer, dans le cadre de
    son utilisation du Wi-Fi, la vie priv&#233;e de tiers, &#224; ne pas
    v&#233;hiculer de propos diffamatoires.
    <br/>
    Utiliser le Wi-Fi &#224; des fins de reproduction, de repr&#233;sentation,
    de mise &#224; disposition ou de communication au public d'&#339;uvres ou
    d'objets prot&#233;g&#233;s par un droit d'auteur ou par un droit voisin,
    tels que des textes, images, photographies, &#339;uvres musicales,
    &#339;uvres audiovisuelles, logiciels et jeux vid&#233;o, sans
    autorisation. L'Utilisateur est inform&#233; qu'un logiciel de partage,
    lorsqu'il est connect&#233; &#224; internet, peut mettre &#224; disposition
    automatiquement des fichiers t&#233;l&#233;charg&#233;s. Si un logiciel de
    partage a &#233;t&#233; utilis&#233; pour t&#233;l&#233;charger des
    &#339;uvres prot&#233;g&#233;es, il est donc pr&#233;f&#233;rable de le
    d&#233;sactiver.
    <br/>
    A cet &#233;gard il est rappel&#233; &#224; l'Utilisateur qu'il est tenu,
    en tant que titulaire d'un acc&#232;s &#224; des services de communication
    au public en ligne, de veiller &#224; ce que cet acc&#232;s ne fasse pas
    l'objet d'une utilisation violant les droits des titulaires de droit
    d'auteur ou droit voisin, au sens des dispositions pr&#233;vues au sein du
    Code de la Propri&#233;t&#233; Intellectuelle. .Il est &#233;galement
    rappel&#233; &#224; l'Utilisateur que la Haute Autorit&#233; pour la
    diffusion des &#339;uvres et la protection des droits sur internet (HADOPI)
    peut &#234;tre amen&#233;e &#224; prendre les mesures suivantes :
    <br/>
    Lorsqu'elle est saisie de faits susceptibles de constituer un manquement
    &#224; l'obligation d&#233;finie ci-avant, l'HADOPI peut envoyer, sous son
    timbre et pour son compte, &#224; l'Utilisateur par l'interm&#233;diaire de
    l'Enseigne une recommandation contenant le rappel de l'obligation
    pr&#233;cit&#233;e, une injonction de la respecter ainsi que toutes
    informations utiles concernant la lutte contre le piratage, et des moyens
    de s&#233;curisation pouvant exister. Une telle recommandation comportera
    notamment la date et l'heure des faits en cause et les coordonn&#233;es de
    contact auxquelles l'HADOPI pourra &#234;tre jointe par l'Utilisateur ;
    <br/>
    En cas de renouvellement dans un d&#233;lai de 6 mois &#224; compter de
    l'envoi de la recommandation vis&#233;e ci-dessus, l'HADOPI peut adresser
    une nouvelle recommandation comportant les m&#234;mes informations que la
    pr&#233;c&#233;dente par voie &#233;lectronique dans les m&#234;mes
    conditions que vis&#233;es pr&#233;c&#233;demment. L' HADOPI peut assortir
    cette recommandation d'une lettre remise contre signature ou de tout autre
    moyen propre &#224; &#233;tablir la preuve de la date d'envoi de cette
    recommandation. En outre, l'Utilisateur est inform&#233; que la violation
    des droits d'auteurs et des droits voisins au sens du Code de la
    Propri&#233;t&#233; Intellectuelle est un d&#233;lit puni des peines
    p&#233;nales pr&#233;vues aux articles L.335-2, L.335-3, L.335-4, L.335-5,
    L.335-6 et L.335-7 du CPI. Par ailleurs, l'Utilisateur encourt des
    sanctions civiles en r&#233;paration du pr&#233;judice subi par les
    ayants-droits.
    <br/>
    <br/>
    L'Utilisateur est seul responsable du contenu qu'il publie sur Internet,
    dans le cadre de son utilisation du Wi-Fi.
    <br/>
    <br/>
    <strong>Chapitre 4. S&#233;curit&#233;</strong>
    <br/>
    <br/>
    L'Utilisateur est inform&#233; et reconnait qu'Internet n'est pas un
    r&#233;seau s&#233;curis&#233; et que l'int&#233;grit&#233;,
    l'authentification et la confidentialit&#233; des informations, fichiers et
    donn&#233;es de toute nature qu'il souhaite &#233;changer via le Wi-Fi ne
    peuvent &#234;tre garanties. Les communications effectu&#233;es via le
    Wi-Fi pr&#233;sentent en principe le m&#234;me niveau de s&#233;curit&#233;
    que les communications Internet standard. L'Utilisateur ne doit donc pas
    transmettre via le Wi-Fi des messages dont il souhaiterait voir la
    confidentialit&#233; garantie de mani&#232;re infaillible.
    <br/>
    <br/>
    Dans ces conditions, il appartient &#224; l'Utilisateur de prendre toutes
    les mesures appropri&#233;es de fa&#231;on &#224; prot&#233;ger ses propres
    donn&#233;es et/ou logiciels notamment de la contamination par
    d'&#233;ventuels virus circulant sur le r&#233;seau Internet ou de
    l'intrusion d'un tiers dans le syst&#232;me de son Terminal &#224; quelque
    fin que ce soit, et de proc&#233;der sur son Terminal, &#224; des
    sauvegardes pr&#233;alablement et post&#233;rieurement &#224; l'utilisation
    du Wi-Fi. S'il souhaite renforcer le niveau de s&#233;curit&#233;,
    l'Utilisateur peut installer lui-m&#234;me un logiciel de
    s&#233;curit&#233;, tel que les coupe-feu (firewalls) ou les VPNs (Virtual
    Private Networks) sur son Terminal.
    <br/>
    <br/>
    <strong>
      Chapitre 5. Protection des donn&#233;es &#224; caract&#232;re personnel
    </strong>
    <br/>
    <br/>
    Dans le cadre de l'utilisation du Wi-Fi, l'Enseigne recueille et traite des
    donn&#233;es &#224; caract&#232;re personnel concernant l'Utilisateur.
    Toutes les donn&#233;es &#224; caract&#232;re personnel concernant
    l'Utilisateur seront utilis&#233;es &#224; tout moment conform&#233;ment
    &#224; la l&#233;gislation en vigueur en mati&#232;re de protection des
    donn&#233;es &#224; caract&#232;re personnel.
    <br/>
    <br/>
    <br/>
    Les donn&#233;es recueillies par l'Enseigne dans le cadre de l'utilisation
    du Wi-Fi par l'Utilisateur sont les suivantes :
    <br/>
    Les informations recueillies lors de l'enregistrement sur la page d'accueil
    Wi-Fi, &#224; savoir : ses nom, pr&#233;nom, num&#233;ro de
    t&#233;l&#233;phone.
    <br/>
    Les donn&#233;es d'identification et les donn&#233;es relatives au trafic
    telles que d&#233;finies par les dispositions du Code des Postes et des
    Communications Electroniques ainsi que par la Loi pour la Confiance dans
    l'Economie Num&#233;rique.
    <br/>
    <br/>
    Les donn&#233;es susmentionn&#233;es sont collect&#233;es et trait&#233;es
    par l'Enseigne pour les finalit&#233;s suivantes :
    <br/>
    Fourniture du Wi-Fi,
    <br/>
    Respect des obligations l&#233;gales et r&#233;glementaires, &#192; cette
    fin, l'Enseigne pourra &#234;tre amen&#233;e &#224; communiquer les
    donn&#233;es aux autorit&#233;s judiciaires comp&#233;tentes, &#224; la
    HADOPI ou &#224; l'autorit&#233; nationale de s&#233;curit&#233; des
    syst&#232;mes d'information (ANSSI).
    <br/>
    Etablissement de statistiques sur les Utilisateurs, ainsi sur leur
    comportement
    <br/>
    <br/>
    L'Utilisateur consent &#224; ce que ses donn&#233;es &#224; caract&#232;re
    personnel soient transf&#233;r&#233;es ou accessibles &#224; d'autres
    soci&#233;t&#233;s du groupe XXX &#224; des fins de [&#224; compl&#233;ter
    avec finalit&#233;s du transfert] ou &#224; des prestataires techniques
    (h&#233;bergeurs, etc.) [compl&#233;ter avec nom des entit&#233;s ou
    services destinataires ainsi que leur pays d'&#233;tablissement]. Ces tiers
    peuvent &#234;tre situ&#233;s au sein ou en dehors de l'espace
    &#233;conomique europ&#233;en [&#224; compl&#233;ter/adapter].
    L'Utilisateur consent express&#233;ment &#224; un tel transfert de ses
    donn&#233;es.
    <br/>
    <br/>
    En vous connectant au r&#233;seau Wi-Fi, vous acc&#233;dez directement
    &#224; un espace d&#233;di&#233; de l'Enseigne. L'Enseigne peut utiliser
    des cookies ou autres outils de tra&#231;age sur cet espace d&#233;di&#233;
    afin (i) de faciliter son utilisation et la navigation de l'Utilisateur en
    se souvenant de l'Utilisateur lors de ses utilisations successives, (ii) de
    fournir des informations et publicit&#233;s personnalis&#233;es ainsi
    qu'&#224; (iii) des fins de mesures et de statistiques. L'Utilisateur peut
    d&#233;sactiver tout ou partie de ces cookies en changeant les
    param&#232;tres de son navigateur. De mani&#232;re g&#233;n&#233;rale, ces
    param&#232;tres apparaissent dans le menu &#171; Options &#187; ou &#171;
    Pr&#233;f&#233;rences &#187; du navigateur.
    <br/>
    <br/>
    L'Utilisateur reconnait &#233;galement que, s'il a coch&#233; la case
    pr&#233;vue &#224; cet effet lors de son enregistrement, l'Enseigne, les
    soci&#233;t&#233;s de son groupe et/ou ses partenaires commerciaux
    pourra/ont utiliser les donn&#233;es &#224; caract&#232;re personnel le
    concernant afin de lui fournir des informations promotionnelles sur leurs
    produits, offres et activit&#233;s.
    <br/>
    <br/>
    L'Enseigne s'interdit de communiquer les donn&#233;es &#224; caract&#232;re
    personnel relatives &#224; l'Utilisateur &#224; d'autres tiers et &#224;
    d'autres fins que celles &#233;nonc&#233;es dans les pr&#233;sentes
    Conditions G&#233;n&#233;rales, sans le consentement de l'Utilisateur.
    <br/>
    <br/>
    L'Utilisateur dispose d'un droit d'acc&#232;s &#224;, et de rectification
    de, ses donn&#233;es &#224; caract&#232;re personnel d&#233;tenues par
    l'Enseigne. L'Utilisateur peut exercer ces droits en s'adressant &#224;
    [&#224; compl&#233;ter par l'Enseigne].
    <br/>
    <br/>
    Il est pr&#233;cis&#233; que l'Utilisateur peut &#233;galement, pour des
    motifs l&#233;gitimes, s'opposer au traitement des donn&#233;es le
    concernant. Dans un tel cas, l'Utilisateur ne pourra pas acc&#233;der au
    Wi-Fi.
    <br/>
    <br/>
  </p>
  <br clear="all"/>
  <p>
    <br/>
    <strong>
      Chapitre 6. Limitation de responsabilit&#233; de l'Enseigne
    </strong>
    <br/>
    <br/>
    L'Enseigne fournit le Wi-Fi dans le cadre d'une obligation de moyens. Dans
    toute la mesure permise par la r&#233;glementation en vigueur, l'Enseigne
    exclu toute responsabilit&#233; pour tout dommage relatif &#224;
    l'acc&#232;s &#224; ou l'utilisation du Wi-Fi. En particulier l'Enseigne
    d&#233;cline toute responsabilit&#233; en cas :
    <br/>
    de perturbations, d'interf&#233;rences et/ou d'indisponibilit&#233; totale
    ou partielle du Wi-Fi,
    <br/>
    de perturbation ou diminution de la qualit&#233;, de la vitesse ou du
    volume de transmission des donn&#233;es,
    <br/>
    de mauvaise installation et/ou de mauvaise configuration et/ou de
    dysfonctionnement du Terminal de l'Utilisateur,
    <br/>
    de dommages caus&#233;s au Terminal ou aux logiciels install&#233;s sur
    celui-ci ou tout autre dommage imputable &#224; l'utilisation du Wi-Fi,
    <br/>
    en cas d'atteinte &#224; l'int&#233;grit&#233;, l'authentification et la
    confidentialit&#233; des donn&#233;es transmises par l'Utilisateur dans le
    cadre de son utilisation du Wi-Fi,
    <br/>
    d'utilisation du Wi-Fi par l'Utilisateur non-conforme aux pr&#233;sentes
    Conditions G&#233;n&#233;rales,
    <br/>
    de survenance de tout &#233;v&#232;nement de force majeure au sens de la
    jurisprudence de la Cour de Cassation.
    <br/>
    <br/>
    L'Enseigne n'est pas responsable des contenus tiers accessibles via le
    Wi-Fi et des dommages qui peuvent na&#238;tre de leur utilisation.
    L'Utilisateur devra se r&#233;f&#233;rer aux conditions d'utilisation
    applicables des sites web concern&#233;s et s'adresser directement aux
    &#233;diteurs de ces sites pour toute r&#233;clamation ou litige relatifs
    au contenu ou &#224; l'utilisation desdits sites.
    <br/>
    <br/>
    L'Enseigne ne saurait &#233;galement &#234;tre tenue responsable de
    l'exploitation des donn&#233;es et informations que l'Utilisateur introduit
    ou r&#233;cup&#232;re dans le cadre de l'utilisation du Wi-Fi.
    <br/>
    <br/>
    <strong>Chapitre 7. Stipulations diverses</strong>
    <br/>
    <br/>
    Dans l'hypoth&#232;se o&#249; l'une quelconque des stipulations des
    pr&#233;sentes Conditions G&#233;n&#233;rales serait consid&#233;r&#233;e
    comme nulle et non valable et d&#233;clar&#233;e comme telle
    conform&#233;ment &#224; toute loi ou r&#233;glementation ou en application
    d'une d&#233;cision d&#233;finitive prononc&#233;e par un tribunal d'une
    juridiction comp&#233;tente, toutes les autres stipulations demeureront
    valables et pleinement applicables.
    <br/>
    <br/>
    Le fait pour l'Enseigne de ne pas exiger &#224; un moment quelconque
    l'ex&#233;cution compl&#232;te d'une stipulation des pr&#233;sentes
    n'affectera en aucune fa&#231;on le droit de cette derni&#232;re de s'en
    pr&#233;valoir ult&#233;rieurement
    <br/>
    <br/>
    Les pr&#233;sentes Conditions G&#233;n&#233;rales sont r&#233;gies par le
    droit fran&#231;ais.
    <br/>
    <br/>
    Le nom, le logo et tout autre signe distinctif de l'Enseigne (les &#171;
    Marques &#187;) sont des marques d&#233;tenues ou licenci&#233;es
    exclusivement par l'Enseigne ou ses conc&#233;dants. L'Enseigne ou ses
    conc&#233;dants sont seuls titulaires des droits de propri&#233;t&#233;
    susceptibles d'&#234;tre attach&#233;s aux Marques. Aucun droit, ni aucune
    licence n'est conc&#233;d&#233;(e) aux Utilisateurs sur les Marques.
  </p>
</div>
