:css
  .ivizone-terms {
    overflow: scroll;
    font-size: 10px;
    text-align: left;
  }

.ivizone-terms
  %b The purpose of this document is to set out:
  %ul
    %li The general terms and conditions of use of the computing facilities and resources (Internet connections and Wifi hotspots)
    %li The legal obligations and responsibilities of the users of those resources

  %p These conditions apply ipso jure to anyone using the wifi service provided by IVIZONE.

  %h3 Chapter I: Conditions of access
  %p
    %b Access to the Internet is freely open to persons in public and private locations equipped with the IVIZONE network.
    Use of this service by minors is the sole responsibility of their parents or legal representatives.

  %h3 Chapter II: Specific obligations in relation to the Internet
  %p
    %b II.1 IVIZONE reminds users that the information available on the Internet may be protected by legal rights or may infringe the legal provisions in force. 
    Users are therefore forbidden from downloading any data on the Internet which is prohibited, illicit, illegal, contrary to standards of decency or public order and which infringes or may infringe the rights of third parties and in particular intellectual property rights.
  %p
    %b II.2. The reader is expressly reminded that the Internet is not a secure network.
    Given these circumstances, it is up to the User to take all appropriate measures to protect his own data and/or software including from contamination by viruses which may be circulating on the Internet or from intrusion by a third party into the system on his terminal (laptop, personal digital assistant or mobile) for any purpose whatsoever, and to carry out back-ups of his laptop before and after implementation of the Service.

  %p
    %b II.3. The User also acknowledges that he has been fully informed that reliability cannot be guaranteed on the Internet,
    particularly in terms of the lack of security relating to data transmission and the absence of any performance guarantee in relation to the volume and speed of data transmission.

    %p The User acknowledges that he has been informed that there are no guarantees on this network as to the integrity, authentication and confidentiality of information, files and data of any kind that he may wish to exchange or transmit over this network.

    %p Therefore, the User should not use the Internet to transmit any messages which he wants to ensure remain totally confidential.

  %p
    %b II.4. The User must refrain from any fraudulent, abusive or excessive use of the Service, 
    in particular involving the intentional or unintentional blocking or cluttering of the IVIZONE mail servers or of email addressees by indiscriminate direct mailings (spamming, bulk email, junk email or mail bombing) or its network, or sending attractive or enticing messages which generate a significant number of responses (teasing or trolling), and which are therefore likely to disrupt the availability of the aforementioned servers or network, and the User assumes full responsibility for any such use of the Service.

  %p
    %b II.5. In relation to products or services on the Internet, the User shall address any claim or complaint directly to the content providers  
    in relation to the performance of the services provided or to the sale of products by the latter.

  %p
    %b II.6. IVIZONE also cautions the User about the nature and diversity of content available on the Internet, some of which may be harmful for minors.

  %h3 Chapter III: The User's legal obligation to combat piracy

  %p
    %b III.1. Pursuant to Article 5 of Law no. 2009-669 of 12 June 2009 promoting the dissemination and protection of creative works on the Internet, the User is referred to the provisions of Article L.336-3 of the Intellectual Property Code (hereinafter "IPC"):

    %p "Any person having access to on-line communications services for the public is required to be vigilant in order to ensure that such access is not used for the purposes of reproducing, representing, making available, or communicating to the public works or objects which are protected by copyright or by related rights without the authorization of the copyright holder as provided for in books I and II, when such authorization is required. Should the person holding the access default on the obligation set out in the first sub-paragraph, the interested party may not be held criminally liable therefore."

  %p
    %b III.2. The User is advised that the High Authority for the Distribution of Works and the Protection of Rights on the Internet (HADOPI) may have recourse to the following measures:
    %ul
      %li
        %strong When matters are referred to it which may constitute a default on the obligations
        set out in Article L.336-3 of the IPC, the HADOPI, under its label and on its behalf, may send to the User via IVIZONE as intermediary a recommendation containing a reminder of his obligations under the above-mentioned Article L. 336-3, an injunction to comply with those obligations, any relevant information relating to the fight against piracy, and any options which may be available to improve security. Specifically it will contain the date and the time of the events in question, and the contact details to enable the User to contact the HADOPI;

      %li
        %strong In the event of a repetition within 6 months of the date of sending the above-mentioned recommendation,
        the HADOPI may send a further recommendation containing the same information as the preceding one by email under the same conditions as stipulated previously. Alongside that recommendation the HADOPI may send a signed-for letter or any other method suitable for representing evidence of the date on which that recommendation is sent.

  %p
    %b III.3. Furthermore, the User is informed that infringement of copyright and of related rights
    by the User within the meaning of the IPC is an offense punishable by criminal penalties as provided for in Articles L.335-2, L.335-3, L.335-4, L.335-5, L.335-6 and L.335-7 of the IPC. Moreover, the User may be subject to civil sanctions in reparation for loss or damage suffered by the rights-holders.

  %h3 Chapter IV. IVIZONE undertakings
  %p
    %b IV.1 IVIZONE is not responsible for content accessible on the Internet
    and any damage which may arise from its use unless such damage was caused intentionally by IVIZONE.

  %p
    %b IV.2 IVIZONE shall not be held responsible for the use made of any data or information which the User may have distributed or collected over the Internet.

    %p IVIZONE accepts no responsibility with regard to the consequences of fraudulent, improper or excessive use of the Service by one or more Users, in particular in relation to the intentional or unintentional blocking or cluttering of the IVIZONE mail servers or of email addressees by indiscriminate direct mailings (spamming, bulk email, junk email or mail bombing) or its network, or sending attractive or enticing messages which generate a significant number of responses (teasing or trolling), thereby disrupting the availability of the servers or the network.

  %p
    %b IV.3. IVIZONE cannot be held liable:
    %ul
      %li in the event of incompatibility of a card, 
      %li in the event of misuse of the Service by the User,
      %li in the event of an incorrect installation and/or an incorrect configuration and/or a fault in the laptop, the User's personal digital assistant and/or the network card,
      %li in the event of non-compliance with his obligations on the part of the User,
      %li in the event of use which is not in accordance with the operating instructions of the Service,
      %li in the event that the Internet does not provide access to a company's virtual private network (VPN),
      %li in the event of total or partial disruptions and/or unavailability, and/or the outage of all or part of the services offered on the networks operated by third parties,
      %li in the event of force majeure as defined by the jurisprudence of the Court of Cassation.

  %h3 Chapter V. Responsibility of the User
  %p
    %b The User is solely responsible 
    for any direct or indirect damage, either material or immaterial, caused to IVIZONE and/or third parties as result of his use of the IVIZONE Internet Service.

  %h3 Chapter VI. Security
  %p
    %b In principle, communications carried out via the Service exhibit the same level of security as standard Internet communications.
    Absolute protection against intrusions or eavesdropping cannot be guaranteed. IVIZONE accepts no responsibility in relation to such events.

    %p
      %b To reinforce the level of security,
      the User may install security software himself, such as firewalls or VPNs (Virtual Private Networks). IVIZONE shall not be answerable for the operation of third-party security software.

    %p
      %b As a general rule access to corporate data (Intranet, Office applications, etc.) requires appropriate security software to be installed
      on the mobile terminal (portable computer, PDA, etc.) and on the relevant server. Since third-party software is used for this purpose, IVIZONE accepts no responsibility in relation to the correct functioning of this software.

  %h3 Chapter VII. Retrieval and utilization of technical user data by IVIZONE
  %p
    %b VII.1. The information collected will be processed by computer for the purposes of establishing statistics about users, as well as for studying the behavior of users on-site.
    These analyses are sent to the owner of the site, and remain the property of IVIZONE. The User acknowledges that he has been informed of and accepts this collection of information within the parameters described in these general terms and conditions.

  %p
    %b VII.2. The User acknowledges that he has been informed that the data collected will come from the authentication systems used (LinkedIn, Facebook, Google, etc.).

  %h3 Chapter VIII. Personal data
  %p
    %b VIII.1 In accordance with the legal and regulatory provisions in force, IVIZONE has an obligation to collect and store electronic communications traffic data. 
    To this end, IVIZONE may be required to communicate this data for the purposes of research, identification and for the prosecution of criminal offenses, for the purposes of preventing any activities of a terrorist nature, for the purposes of billing and payment for the Service, and for the purposes of the security of the networks and installations.

  %p
    %b VIII.2 In accordance with law no. 78-17 of 6 January 1978 relating to information technology, computer files and civil liberties, 
    any User may ask IVIZONE to provide him with the personal information held in relation to him, or have it rectified or deleted as appropriate.  This right of access, rectification or deletion may be exercised by contacting IVIZONE by mail: IVIZONE, IVIDATA TOOLS, 79-83 rue Baudin 92300 Levallois-Perret, or by email: contact@ivizone.com
