:css
  .ivizone-terms {
    overflow: scroll;
    font-size: 10px;
    text-align: left;
  }

.ivizone-terms
  %b Le présent document a pour objet de préciser :
  %ul
    %li Les conditions générales d'utilisation des moyens et des ressources informatiques (connexions à l'Internet et Bornes Wifi)
    %li Les engagements et responsabilités légales des utilisateurs de ces ressources Ces conditions s'imposent de plein droit à toute personne utilisant le service wifi proposé par IVIZONE.


  %h3 Chapitre I : Conditions d'accès
  %p
    %b L'accès à Internet est librement ouvert aux personnes fréquentant les lieux publics et privés équipés de réseau IVIZONE.
    L'utilisation par les mineurs de ce service s'effectue sous la seule responsabilité de leurs parents ou responsables légaux.

  %h3 Chapitre II : Obligations spécifiques liées à internet
  %p
    %b II.1 IVIZONE rappelle aux utilisateurs que les informations disponibles sur Internet sont susceptibles d'être protégées par des droits ou d'enfreindre les dispositions légales en vigueur.
    Les utilisateurs s'interdisent donc de transmettre ou télécharger sur l'Internet toute donnée prohibée, illicite, illégale, contraire aux bonnes mœurs ou à l'ordre public et portant atteinte ou susceptibles de porter atteinte aux droits de tiers et notamment aux droits de propriété intellectuelle.

  %p
    %b II. 2 Il est expressément rappelé qu'Internet n'est pas un réseau sécurisé.
    Dans ces conditions, il appartient aux utilisateurs de prendre toutes les mesures appropriées de façon à protéger leurs propres données et/ou logiciels notamment de la contamination par d'éventuels virus circulant sur le réseau Internet ou de l'intrusion d'un tiers dans le système de son terminal (ordinateur portable, assistant personnel ou mobile) à quelque fin que ce soit, et de procéder sur son ordinateur portable et sur son assistant personnel, à des sauvegardes préalablement et postérieurement à la mise en place du Service.

  %p
    %b II. 3 L'Utilisateur reconnaît également être pleinement informé du défaut de fiabilité du réseau Internet,
    tout particulièrement en terme d'absence de sécurité relative à la transmission de données et de non garantie des performances relatives au volume et à la rapidité de transmission des données.

    %p L'Utilisateur reconnaît être informé que l'intégrité, l'authentification et la confidentialité des informations, fichiers et données de toute nature qu'il souhaite échanger sur le réseau Internet ne peuvent être garanties sur ce réseau.
    %p L'Utilisateur ne doit donc pas transmettre via le réseau Internet des messages dont il souhaiterait voir la confidentialité garantie de manière infaillible.

  %p
    %b II. 4. L'Utilisateur s'interdit toute utilisation frauduleuse, abusive ou excessive du Service,
    telle que notamment l'encombrement volontaire ou involontaire des serveurs de messageries de IVIZONE et/ou des destinataires de mails par du publipostage sauvage (spamming, bulk e-mail, junk e-mail ou mail bombing) ou de son réseau, ou l'envoi de messages attractifs générant nécessairement un nombre imposant de réponses (teasing ou trolling) pouvant ainsi perturber la disponibilité desdits serveurs ou réseau et assume l'entière responsabilité d'une telle utilisation du Service.

  %p
    %b II.5. S'agissant des produits ou des services sur le réseau Internet, l'Utilisateur adresse directement aux fournisseurs de contenus toute réclamation
    relative à l'exécution des services rendus par ceux-ci ou à la vente des produits par ceux-ci.

  %p
    %b II. 6. IVIZONE met par ailleurs en garde l'Utilisateur sur la nature et la diversité des contenus disponibles sur le réseau Internet, lesquels peuvent être susceptibles de porter préjudice aux mineurs.

  %h3 Chapitre III : Obligation légale de l'utilisateur contre le piratage

  %p
    %b III.1. Conformément à l'article 5 de la loi n°2009-669 du 12 juin 2009 favorisant la diffusion et la protection de la création sur internet, l'Utilisateur est informé des dispositions de l'article L.336-3 du Code de la propriété intellectuelle (ci-après "CPI") :
    %p "La personne titulaire de l'accès à des services de communication au public en ligne a l'obligation de veiller à ce que cet accès ne fasse pas l'objet d'une utilisation à des fins de reproduction, de représentation, de mise à disposition ou de communication au public d'œuvres ou d'objets protégés par un droit d'auteur ou par un droit voisin sans l'autorisation des titulaires des droits prévus aux livres Ier et II lorsqu'elle est requise. Le manquement de la personne titulaire de l'accès à l'obligation définie au premier alinéa n'a pas pour effet d'engager la responsabilité pénale de l'intéressé".

  %p
    %b III.2. L'Utilisateur est informé de ce que la Haute Autorité pour la diffusion des œuvres et la protection des droits sur internet (HADOPI) peut être amenée à prendre les mesures suivantes :
    %ul
      %li
        %strong Lorsqu'elle est saisie de faits susceptibles de constituer un manquement à l'obligation
        définie à l'article L.336-3 du CPI, l'HADOPI peut envoyer, sous son timbre et pour son compte, à l'Utilisateur par l'intermédiaire de IVIZONE une recommandation contenant le rappel de son obligation de l'article L.336-3 ci-dessus mentionné, une injonction de la respecter ainsi que toutes informations utiles concernant la lutte contre le piratage, et des moyens de sécurisation pouvant exister. Elle comportera notamment la date et l'heure des faits en cause et les coordonnées de contact auxquelles l'HADOPI pourra être jointe par l'Utilisateur ;
      %li
        %strong En cas de renouvellement dans un délai de 6 mois à compter de l'envoi de la recommandation
        visée ci-dessus, l'HADOPI peut adresser une nouvelle recommandation comportant les mêmes informations que la précédente par voie électronique dans les mêmes conditions que visées précédemment. L' HADOPI peut assortir cette recommandation d'une lettre remise contre signature ou de tout autre moyen propre à établir la preuve de la date d'envoi de cette recommandation.

  %p
    %b III.3. En outre, l'Utilisateur est informé que la violation des droits d'auteurs et des droits voisins
    au sens duCPI par l'Utilisateur est un délit puni des peines pénales prévues aux articles L.335-2, L.335-3, L.335-4, L.335-5, L.335-6 et L.335-7 du CPI. Par ailleurs, l'Utilisateur encourt des sanctions civiles en réparation du préjudice subi par les ayants-droits.

  %h3 Chapitre IV. Engagement de IVIZONE
  %p
    %b IV .1 IVIZONE n'est pas responsable des contenus accessibles sur le réseau Internet
    et des dommages qui peuvent naître de leur utilisation à moins que ces dommages n'aient été causés intentionnellement par IVIZONE.

  %p
    %b IV .2. IVIZONE ne saurait être tenue responsable de l'exploitation des données et informations que l'Utilisateur aurait introduites ou récupérées sur le réseau Internet.

    %p IVIZONE décline toute responsabilité quant aux conséquences d'une utilisation frauduleuse, abusive ou excessive du Service par un ou plusieurs Utilisateurs, telles que notamment l'encombrement volontaire ou involontaire des serveurs de messagerie de IVIZONE ou des destinataires de mails par du publipostage sauvage (spamming, bulk e.mail, junk e.mail ou mail bombing) ou de son réseau, ou l'envoi de messages attractifs générant nécessairement un nombre imposant de réponses (teasing ou trolling) pouvant ainsi perturber la disponibilité desdits serveurs ou réseau.

  %p
    %b IV.3. La responsabilité de IVIZONE ne peut pas être engagée :
    %ul
      %li en cas de non-compatibilité d'une carte,
      %li en cas de mauvaise utilisation par l'Utilisateur du Service,
      %li en cas de mauvaise installation et/ou de mauvaise configuration et/ou de dysfonctionnement de l'ordinateur portable, de l'assistant personnel de l'Utilisateur et/ou de la carte réseau,
      %li en cas de non respect par l'Utilisateur de ses obligations,
      %li en cas d'usage non conforme au mode d'emploi du Service,
      %li en cas d'impossibilité d'accès par Internet au réseau privé virtuel d'une entreprise,
      %li en cas de perturbations et/ou d'indisponibilité totale ou partielle, et/ou d'interruption de tout ou partie des services proposés sur les réseaux exploités par des opérateurs tiers,
      %li en cas de force majeure au sens de la jurisprudence de la Cour de Cassation.


  %h3 Chapitre V. Récupération et utilisation des données des utilisateurs par IVIZONE
  %p V.1.  Les informations recueillies font l'objet d'un traitement informatique destiné à établir des statistiques sur les users (âges,...), ainsi que d'étudier le comportement des utilisateurs sur le lieu (zones chaudes,…). Ces analyses sont transmimes au propriétaire du lieu, et sont la propriété d'IVIZONE.

  %p Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d'un droit d'accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant à IVIDATA, 79-83 rue Baudin 92300 Levallois-Perret.
  Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.

  %p V .2. L'utilisateur se déclare au courant que les données collectées proviendront des systèmes d'authentification utilisés (LinkedIn, Facebook, Google…).

  %h3 Chapitre VI. Responsabilité de l'utilisateur
  %p
    %b L'Utilisateur est seul responsable
    de tout préjudice direct ou indirect, matériel ou immatériel causé à IVIZONE et/ou des tiers du fait de son utilisation du Service Internet de IVIZONE.

  %h3 Chapitre VII. Sécurité
  %p
    %b Les communications effectuées via le Service présentent en principe le même niveau de sécurité que les communications Internet standard.
    Une protection absolue contre les intrusions ou les écoutes illicites ne peut être garantie. IVIZONE décline toute responsabilité concernant de tels évènements.
    %p
      %b S'il souhaite renforcer le niveau de sécurité,
      l'Utilisateur peut installer lui-même un logiciel de sécurité, tel que les coupe-feu (firewalls) ou les VPNs (Virtual Private Networks). S'agissant de logiciels de tiers, IVIZONE ne répond pas du fonctionnement des logiciels de sécurité.

    %p
      %b En règle générale, l'accès aux données d'entreprise (Intranet, applications Office…) présuppose l'installation d'un logiciel de sécurité approprié
      sur le terminal mobile (ordinateur portable, PDA…) et sur le serveur d'entreprise concerné. Étant donné que ce logiciel est fourni par un tiers, IVIZONE décline toute responsabilité quant à son bon fonctionnement.

  %h3 Chapitre VII. Données à caractère personnel
  %p
    %b VII.1 Conformément aux dispositions légales et réglementaires en vigueur, IVIZONE a l'obligation de collecter et stocker les données de communication électronique relatives au trafic.
    À cette fin, IVIZONE pourra être amenée à communiquer ces données aux fins de recherche, de constatation et de poursuite des infractions pénales, aux fins de prévention de toute activité de nature terroriste, aux fins de facturation et de paiement du Service, aux fins de sécurité des réseaux et des installations.

  %p
    %b VII.2 Tout Utilisateur peut demander à IVIZONE la communication des informations nominatives le concernant et les faire rectifier ou supprimer le cas échéant, conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
    Ce droit d'accès, de rectification ou de suppression peut être exercé en s'adressant à IVIZONE par courrier : IVIZONE, IVIDATA TOOLS, 79-83 rue Baudin 92300 Levallois-Perret.
