<style>
  .ivizone-terms {
    overflow: scroll;
    font-size: 10px;
    text-align: left;
  }
</style>

<div class="ivizone-terms">

  <p align="center">
    Public wireless Internet access
  </p>
  <p align="center">
    Marc Jacobs Guest Wireless Access Acceptable Use Policy
  </p>
  <p>
    This Policy is a guide to the acceptable use of the Marc Jacobs Guest
    Wireless network facilities and services.
  </p>
  <p>
    Any individual connected to the Guest Wireless Network in order to use it
    directly or to connect to any other network(s), must comply with this
    policy, the stated purposes and Acceptable Use policies of any other
    network(s) or host(s) used, and all applicable laws, rules, and
    regulations.
  </p>
  <p>
    Marc Jacobs MAKES NO REPRESENTATIONS OR WARRANTIES CONCERNING THE
    AVAILABILITY OR SECURITY OF THE GUEST WIRELESS NETWORK, AND ALL USE IS
    PROVIDED ON AN AS-IS BASIS. BY USING THE GUEST WIRELESS NETWORK YOU AGREE
    TO DEFEND, INDEMNIFY, AND HOLD HARMLESS Marc Jacobs FOR ANY LOSSES OR
    DAMAGES THAT MAY RESULT FROM YOUR USE OF THE GUEST WIRELESS NETWORK.
  </p>
  <p>
    Marc Jacobs takes no responsibility and assumes no liability for any
    content uploaded, shared, transmitted, or downloaded by you or any third
    party, or for anything you may encounter or any data that may be lost or
    compromised while connected to the Guest Wireless Network.
  </p>
  <p>
    Marc Jacobs reserves the right to disconnect any user at any time and for
    any reason. The Guest Wireless Network is provided as a courtesy to allow
    our guests access to the internet. Users will not be given access to the
    Marc Jacobs intranet or permission to install any software on our
    computers.
  </p>
  <p>
    Inappropriate use of the Guest Wireless Network is not permitted. This
    policy does not enumerate all possible inappropriate uses but rather
    presents some guidelines (listed below) that Marc Jacobs may at any time
    use to make a determination that a particular use is inappropriate:
  </p>
  <p>
    Users must respect the privacy and intellectual property rights of others ;
  </p>
  <p>
    Users must respect the integrity of our network and any other public or
    private computing and network systems.
  </p>
  <p>
    Use of the Guest Wireless Network for malicious, fraudulent, or
    misrepresentative purposes is prohibited
  </p>
  <p>
    The Guest Wireless Network may not be used in a manner that precludes or
    hampers other users access to the Guest Wireless Network or other any other
    networks.
  </p>
  <p>
    Nothing may be installed or used that modifies, disrupts, or interferes in
    any way with service for any user, host, or network.
  </p>
</div>
