:css
  .ivizone-terms {
    overflow: scroll;
    font-size: 10px;
    text-align: left;
  }

.ivizone-terms
  %h3 CHARTE D’UTILISATION DU SERVICE WIFI PUBLIC VILLE DE SAINT-AVOLD

  %p Avant de vous connecter, merci de prendre connaissance de la Charte d’utilisation du service Wi-Fi Public de la ville de Saint-Avold :

  %p L’utilisation du service Wi-Fi est soumise en premier lieu, au respect des lois et des règlements en vigueur.

  %p L’utilisation de ce service vaut acceptation irréfragable par l’utilisateur, sans qu’aucune signature ne soit nécessaire, de l’ensemble des dispositions et obligations contenues dans la présente Charte.

  %p L’utilisateur reconnaît être dans un lieu ouvert au public. Il s’engage à utiliser tant son matériel informatique, (portable, assistant personnel) et ce service, d’une manière conforme à la loi et à la net étiquette en s’interdisant notamment tout comportement et tout usage contraire à l’ordre public et aux bonnes mœurs.

  %p En particulier il ne devra pas utiliser son matériel ou ce service à des fins illégales, illicites, interdites, c’est-à-dire, sans que cette liste ait un caractère exhaustif :


  %ul 
    %li Il s’engage à respecter la loi et s’interdit d’accéder, de mettre en ligne ou d’afficher des contenus et informations, provenant ou non d’une mise en ligne sur le réseau Internet mais considérés comme illégaux par les textes ou les tribunaux tels, les informations, messages, textes, images ou vidéos ayant un caractère violent, d’incitation à la violence ou à la haine, dégradant pour la personne humaine, pornographique ou pédophile et/ou ayant un caractère provocant et portant atteinte à l’intégrité ou à la sensibilité de qui que ce soit.

  %p L’utilisateur s’engage à respecter la vie privée de toute personne et le secret des correspondances, il s’interdit d’intercepter tout message et communication émis par la voie
  des télécommunications.

  %p Il s’engage à respecter la législation sur les données personnelles et les traitements automatisés d’informations nominatives ainsi que la législation et les textes relatifs aux droits
  d’auteur, marques, brevets, à la propriété intellectuelle et industrielle. Il s’interdit toute reproduction ou usage en infraction de ces législations, qu’il s’agisse de créations multimédia, de logiciels, de textes, d’articles de presse, de photos, de sons, d’images de toute nature, de marques, de brevets, de dessins et modèles, étant précisé que toute mention relative à l’existence de droits sur ces éléments et/ou données et/ou fichiers ne peuvent faire l’objet d’une suppression et que toute reproduction d’une œuvre ou de l’un de ces éléments et/ou fichiers et/ou données sans consentement du titulaire des droits constitue une contrefaçon.


  %p Dans le cadre de l’usage de ce service, l’utilisateur s’interdit de :

  %ul
    %li Récolter ou collecter toute information concernant des tiers sans leur consentement ;

    %li  Diffamer, diffuser, harceler, traquer, menacer quiconque, ni violer les droits d’autrui ;
    %li  Créer une fausse identité ;
    %li  Tenter d’obtenir un accès non autorisé à un service et/ou à un fichier, ou une donnée ;
    %li  Diffuser ou télécharger des éléments contenant des logiciels ou autres éléments protégés par les droits de propriété intellectuelle, à moins qu’il ne détienne lesdits droits ou qu’il ait reçu toutes les autorisations nécessaires pour le faire ;
    %li  D’adresser tout message indésirable ni d’effectuer des envois de type « spamming » ;
    %li  D’adresser tout courrier et/ou message électronique comprenant des propos menaçants, injurieux, diffamatoires, obscènes, indécents, illicites ou portant atteinte aux droits des personnes et à la protection des mineurs ;
    %li  Transmettre tout virus, cheval de Troie, bombe logique ou tout autre programme nuisible ou destructeur pour les tiers et/ou tout utilisateur ;
    %li  Tenter d’obtenir un accès non autorisé à un système automatisé de traitement de données et s’y maintenir ;
    %li  Perturber les services et/ou contenus et/ou données auxquels il accède ;
    %li  D’envoyer des chaînes de lettres ou proposer des ventes dite « boule de neige » ou pyramidale ;
    %li  D’adresser toute publicité, message promotionnel ou tout autre forme de sollicitation ou démarchage non sollicité ;

    %p Il appartient à l’utilisateur de vérifier qu’il dispose des équipements matériels, logiciels, navigateurs lui permettant d’utiliser ce service. L’utilisateur lequel reste seul responsable de la sécurité et de la protection de ses équipements connectés.

    %p Le fournisseur de service ne peut être en aucun cas être tenue de réparer les préjudices directs et/ou indirects subis du fait de l’utilisation du service Wi-Fi par l’utilisateur, ce dernier étant sous la responsabilité des utilisateurs dans le respect de la présente Charte. L’utilisateur reconnaît que le fournisseur de service ne peut être responsable des contenus ou services auquel il accède et ne garantit ni l’accessibilité aux contenus et services ni la rapidité d’utilisation, l’accès au service Wi-Fi pouvant être suspendu à tout moment sans préavis.

    %p Nous informons les utilisateurs du service que les nouvelles dispositions applicables en matière de lutte contre le terrorisme impliquent l’obligation de conserver pendant une durée de 12 mois les données techniques de connexion, à savoir : expéditeur, destinataire, heure, durée et lieu d’origine des communications à l’exception de leur contenu.

    %p Vous déclarez avoir lu l’intégralité de la présente Charte, vous engagez à vous y conformer et reconnaissez que votre matériel, son contenu et l’utilisation du service Wi-Fi sont de votre entière responsabilité.
