#spinner {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  z-index: 10;

  background-color: rgba(46,46,46,0.9);
  display: none;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px
}

.spinner {
  left: 50px;
  top: 50px;
}
